* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(83, 83, 83);
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.contenedor {
    max-width: 1000px;
    margin: 20px;
    margin: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "nav nav nav"
        "contenido contenido sidebar"
        "bloque1 bloque1 bloque2"
        "footer footer footer";
}

nav {
    background-color: cornflowerblue;
    color: aliceblue;
    grid-area: nav;
    padding: 20px;
    border-radius: 10px;
}

.contenido {
    background-color: rgb(33, 147, 103);
    color: aliceblue;
    padding: 20px;
    grid-area: contenido;
    border-radius: 10px;
}

.sidebar {
    background-color: rgb(147, 210, 108);
    color: aliceblue;
    padding: 20px;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.bloque {
    color: rgb(24, 24, 55);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;


}

#bloque1 {
    background-color: rgb(219, 187, 239);
    grid-area: bloque1;

}

#bloque2 {
    background-color: lightblue;
    grid-area: bloque2;
}

footer {
    background-color: rgb(194, 232, 189);
    grid-area: footer;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 30px;
    
    
}

#cambiar-color {
    background-color: #ace2c4;
    color: rgb(14, 98, 39);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    width: auto;
    max-width: 90%;
    margin: 1rem auto;
  }
  
  #cambia-color:hover {
    background-color: #58c18b;
  }

.button-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 768px) {
    .contenedor {
        margin: 20px;
        grid-template-areas:
            "nav nav nav"
            "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "bloque1 bloque1 bloque1"
            "bloque2 bloque2 bloque2"
            "footer footer footer";
    }

    .button-toggle {
        display: block;
    
    }
    .menu {
        display: none;
        flex-direction: column;
        background: #695b95;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        text-align: center;
        padding: 10px 0;
        border-radius: 5px;
        right: 0;
        left: 0;
      }
    
      .menu a {
        display: block;
        padding: 10px;
        color: white;
      }

      .menu.open {
        display: flex;
      }
}